<div class="header container w-100 p-3">

    <div class="row align-items-center">
        <div class="col d-flex justify-content-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Deportes</a></li>
                    <li><a class="dropdown-item" href="#">Economia</a></li>
                    <li><a class="dropdown-item" href="#">Espectáculos</a></li>
                    <li><a class="dropdown-item" href="#">Politica</a></li>
                    <li><a class="dropdown-item" href="#">Sociedad</a></li>
                    <li><a class="dropdown-item" href="#">Tecnología</a></li>
                </ul>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <img class="logo" src="https://i.ibb.co/fF5XQh2/CNews-Logo.png">
        </div>
        <div class="col d-flex justify-content-center">
        </div>
    </div>
</div>