<nav>
    <div>
        <a href="#">
            <img class="logo" src="https://i.ibb.co/fF5XQh2/CNews-Logo.png">
        </a>
    </div>
    <div class="form-search">
        <input type="text" name="search" placeholder="Search" />
        <button></button>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Clima</a></li>
            <li><a class="dropdown-item" href="#">Deportes</a></li>
            <li><a class="dropdown-item" href="#">Economia</a></li>
            <li><a class="dropdown-item" href="#">Espectáculos</a></li>
            <li><a class="dropdown-item" href="#">Politica</a></li>
            <li><a class="dropdown-item" href="#">Sociedad</a></li>
            <li><a class="dropdown-item" href="#">Tecnología</a></li>
        </ul>
    </div>
</nav>

<!--Ejemplo de event binding-->
<div class="container">
    <h3>{{texto}}</h3><!--Property Binding-->
    <button class="btn btn-primary" (click)="cambiarTexto()">Hacer click</button> <!--Event Binding-->
</div>

<!--Ejemplo de two way binding-->
<div class="container">
    <input type="text" name="search" placeholder="Escriba algo aqui..." [(ngModel)]="texto2" />
    <h3>{{texto2}}</h3><!--Property Binding-->
</div>